.viagra {
  height: 194px;
  width: 241px;
  border: 1px solid #edf0f2;
  float: left;
  position: relative; }
  .viagra .group {
    margin: 9px 0px 7px 42px; }
  .viagra .name {
    display: block;
    background-color: #edf0f2;
    color: #35403e;
    font-size: 13px;
    padding: 5px 0px 6px 14px;
    font-family: Open Sans;
    font-weight: bold; }
  .viagra .both_part {
    border-bottom: 1px solid #f0f0f0; }
    .viagra .both_part .left_part {
      float: left;
      width: 76px;
      margin: 83px 0px 3px 27px;
      position: relative; }
      .viagra .both_part .left_part img {
        position: absolute;
        bottom: 20px; }
      .viagra .both_part .left_part .more_info {
        font-family: Open Sans;
        font-size: 12px;
        color: #35403e;
        text-decoration: none; }
        .viagra .both_part .left_part .more_info i {
          color: #80d3c9;
          margin-right: 7px; }
    .viagra .both_part .shape {
      position: absolute;
      right: 121px; }
    .viagra .both_part .right_part {
      float: right;
      width: 120px;
      font-family: Arial;
      font-weight: bold; }
      .viagra .both_part .right_part .right_part_top {
        width: 104px;
        background: #fcfcfc;
        border: 1px solid #edf1f2;
        margin-top: 8px; }
        .viagra .both_part .right_part .right_part_top .prices {
          font-size: 11px;
          margin-left: 8px; }
        .viagra .both_part .right_part .right_part_top .prices_USD {
          font-size: 13px;
          margin-left: 8px; }
      .viagra .both_part .right_part .right_part_bot {
        margin-top: 6px; }
        .viagra .both_part .right_part .right_part_bot .offer {
          font-size: 11px;
          background-color: #ff642b;
          color: #fff;
          padding: 0px 6px 0px 7px;
          margin-left: 2px; }
        .viagra .both_part .right_part .right_part_bot .usd {
          font-size: 20px;
          color: #ff642b;
          margin-left: 3px; }
        .viagra .both_part .right_part .right_part_bot .pill {
          display: block;
          font-size: 11px;
          font-weight: normal;
          margin: 0px 0px 4px 70px; }
  .viagra .pack {
    background-color: #ff642b;
    color: #fff;
    font-size: 13px;
    padding: 7px 77px 7px 72px;
    border-radius: 3px;
    margin-left: 5px; }
    .viagra .pack i {
      margin-right: 7px; }

a {
  text-decoration: none; }

.wrapper {
  width: 968px;
  margin: 0 auto; }

.header_top {
  margin: 0 0 9px 0;
  font-family: Open Sans;
  font-size: 12px;
  padding-bottom: 6px;
  border-bottom: 1px solid #d0e7e6; }
  .header_top span a {
    color: #3cc9b0;
    font-weight: 700; }
  .header_top .currency {
    margin-left: 66px; }
  .header_top select {
    font-family: Open Sans;
    font-size: 12px;
    border: none; }

.header_top_left {
  float: left;
  margin-top: 13px; }

.cart {
  color: #35403e;
  font-size: 13px; }

.shopping_cart {
  margin: 0 8px 0 33px; }

.eur {
  font-size: 13px;
  color: #3cc9b0;
  font-weight: 700; }

.item {
  font-size: 13px;
  color: #858c8b; }

.chekout {
  float: right;
  background-color: #ff642b;
  border-radius: 2px;
  color: #fff;
  font-family: Open Sans;
  font-size: 13px;
  padding: 8px 45px;
  margin-top: 6px; }

.header_middle {
  padding-bottom: 9px;
  border-bottom: 1px solid #d0e7e6; }

.logo {
  margin-top: 13px;
  float: left; }

.baner_full {
  display: inline-block;
  float: right;
  background: #555;
  width: 700px;
  height: 61px; }

.peregorodka {
  display: inline-block;
  float: left;
  width: 1px;
  height: 46px;
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.3); }

.baner_left {
  float: left;
  display: inline-block;
  width: 178px;
  padding: 8px 0px 0px 37px; }

.bigletter {
  color: #fff;
  font-family: "Open Sans Extrabold";
  font-size: 19px;
  font-style: italic;
  line-height: 16px; }

.small {
  color: #ffc412;
  font-family: "Open Sans";
  font-size: 11px;
  line-height: 16px; }

.baner_left_image {
  float: right;
  position: relative;
  right: 25px; }

.baner_center {
  display: inline-block;
  width: 184px;
  padding: 8px 0px 0px 32px;
  float: left; }

.middle {
  font-weight: 700; }

.baner_center_image {
  right: 26px; }

.peregorodka2 {
  display: inline-block;
  float: right;
  width: 1px;
  height: 46px;
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.3); }

.baner_right {
  display: inline-block;
  float: left;
  padding: 8px 0px 0px 32px; }
  .baner_right .small {
    line-height: 13px; }

.baner_right_text {
  float: right;
  margin-left: 8px; }

.smallest {
  font-style: italic;
  font-size: 13px;
  vertical-align: 12px; }

.procents {
  font-family: "Open Sans Extrabold";
  font-size: 28px;
  font-style: italic;
  display: inline-block;
  padding-top: 5px; }

.header_bottom {
  margin: 7px 0px 7px 0px; }
  .header_bottom span {
    color: #555959;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 700;
    font-style: italic;
    vertical-align: 6px; }

.img_person {
  margin: 0px 2px 0px 12px; }

.img_star {
  margin: 0px 2px 4px 30px; }

.img_wax {
  margin: 0px 0px 0px 35px; }

.img_tablets {
  margin: 0px 0px 0px 35px; }

header {
  background: linear-gradient(to top, #ebfaf8 0%, #fcfcfc 100%);
  box-shadow: inset 0 -1px 0 #d0e7e6;
  height: 208px;
  border: 1px solid green; }

.main-menu-ul {
  width: 968px;
  height: 46px;
  background-color: #3cc9b0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  font-size: 14px;
  font-family: Open Sans;
  font-weight: 700; }
  .main-menu-ul span .fa-inverse {
    color: #3cc9b0; }
  .main-menu-ul a {
    text-decoration: none;
    color: #fff; }

li .fa-lg {
  font-size: 15px; }

.Phone-li span {
  float: left; }

.strings {
  float: right; }

.Phone-first-string {
  font-size: 10px;
  font-weight: 700; }

.Phone-second-string {
  font-size: 20px;
  clear: left;
  font-weight: 700; }

.search {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
  color: #182422;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 700;
  line-height: 21px;
  margin-top: 17px; }
  .search input {
    color: #666;
    font-size: 12px;
    width: 202px;
    height: 30px;
    border: 1px solid #ffc412;
    padding: 0; }

.by_keyword {
  display: inline-block;
  float: left; }
  .by_keyword p {
    margin: 5px 0 10px 0; }

.ellipse {
  position: relative;
  right: 23px;
  top: 6px; }

.by_name {
  display: inline-block;
  float: left; }

.ul_by_name {
  width: 490px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px; }
  .ul_by_name li a {
    color: #ff642b;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 700;
    text-decoration: underline; }

ul.ul_by_name li:hover a {
  color: #3cc9b0;
  text-decoration: none; }

.coupone {
  display: inline-block;
  float: right; }
  .coupone span {
    color: #666;
    font-size: 12px;
    font-weight: 400; }

.discount {
  width: 242px;
  height: 31px;
  background-color: #ffc412;
  color: black;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
  margin-top: 5px; }

.left {
  width: 204px;
  float: left; }
  .left span {
    display: block;
    font-family: Open Sans;
    font-size: 12px; }
  .left .Question {
    color: #3cc9b0;
    font-weight: bold;
    margin-top: 20px; }
  .left .Answer {
    color: #858c8b; }
  .left .First_question {
    margin-top: 15px; }

.FAQ {
  display: inline-block;
  margin-top: 15px;
  color: #3cc9b0;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 700;
  text-decoration: underline; }

.left-colum {
  background-color: #fcfcfc;
  border: 1px solid #edf1f2; }
  .left-colum ul li:first-child {
    margin-top: 18px; }
  .left-colum ul li:hover a {
    text-decoration: underline; }
  .left-colum ul li {
    margin: 0px 0px 13px 16px;
    font-size: 13px;
    font-family: Open Sans; }
    .left-colum ul li i {
      color: #80d3c9;
      font-size: 13px;
      margin-right: 10px; }
    .left-colum ul li a {
      text-decoration: none;
      color: #000; }

.categories,
.trial,
.edpacks,
.herbals {
  background-color: #3cc9b0;
  display: block;
  width: 192px;
  margin: 0px 0px 0px 5px;
  font-size: 13px;
  font-family: Open Sans;
  font-weight: bold;
  text-align: center;
  padding: 9px 0 9px 0;
  margin-bottom: 1px;
  color: #fff;
  text-decoration: none; }

.categories {
  background-color: #edf1f2;
  color: #000;
  margin-top: 5px; }

.herbals {
  margin-bottom: 4px; }

.catalog {
  width: 748px;
  float: right; }

.drugs_catalog li {
  margin: 0px 9px 10px 0px; }
.drugs_catalog li:nth-child(3),
.drugs_catalog li:nth-child(8),
.drugs_catalog li:nth-child(11) {
  margin: 0 0 10px 0; }

.discontpack {
  height: 400px;
  float: right; }

.baners {
  background-color: #fcfcfc;
  border: 1px solid #edf1f2;
  padding-top: 13px; }

.baner_bottom_left {
  float: left;
  margin: 0 0 0 78px; }

.baner_bottom_right {
  float: right;
  margin: 0 88px 9px 0; }

.awards {
  display: inline-block;
  margin-top: 15px;
  font-size: 13px;
  font-weight: 700;
  color: #33414e;
  font-family: Open Sans; }
  .awards span {
    font-size: 12px;
    font-weight: 400; }

.footer_top {
  margin-top: 10px;
  padding: 21px 0 15px 0;
  width: 968px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #edf1f2;
  border-bottom: 1px solid #edf1f2; }

.footer_center {
  width: 712px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 17px 0 0 128px; }
  .footer_center li {
    color: #33414e;
    font-family: "Open Sans";
    font-size: 13px; }

.footer_bottom {
  margin: 17px 0 0 0;
  border-top: 1px solid #edf1f2; }

.logo_copy {
  margin: 18px 115px 10px 0;
  float: left; }
  .logo_copy p {
    color: #35403e;
    font-family: "Open Sans";
    font-size: 12px;
    margin-left: 31px; }

.footer_bottom_ul {
  margin: 33px 0 0 0;
  display: flex;
  width: 608px; }
  .footer_bottom_ul li {
    font-family: "Open Sans";
    font-size: 12px;
    padding: 0 10px;
    border-right: 1px solid #858c8b; }
    .footer_bottom_ul li a {
      color: #35403e; }
  .footer_bottom_ul li:last-child {
    border: none; }

/*# sourceMappingURL=Catalog_Medicine.css.map */
