.viagra {
  height: 194px;
  width: 241px;
  border: 1px solid #edf0f2;
  float: left;
  position: relative; }
  .viagra .group {
    margin-top: 10px;
    margin-bottom: 2px;
    text-align: center; }
  .viagra .name {
    display: block;
    background-color: #edf0f2;
    color: #35403e;
    font-size: 13px;
    padding: 5px 0px 6px 14px;
    font-family: Open Sans;
    font-weight: bold; }
  .viagra .both_part {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f0f0f0; }
    .viagra .both_part .left_part {
      width: 110px; }
      .viagra .both_part .left_part .left_part_pic {
        margin-left: 20px;
        width: 100px;
        height: 85px;
        display: flex;
        justify-content: center;
        align-items: center; }
      .viagra .both_part .left_part .more_info {
        margin-left: 30px;
        font-family: Open Sans;
        font-size: 12px;
        color: #35403e;
        text-decoration: none; }
        .viagra .both_part .left_part .more_info i {
          color: #80d3c9;
          margin-right: 7px; }
    .viagra .both_part .shape {
      position: absolute;
      left: -8px;
      top: 50%;
      transform: translateY(-50%); }
    .viagra .both_part .right_part {
      margin-top: 10px;
      width: 120px;
      font-family: Arial;
      font-weight: bold;
      position: relative; }
      .viagra .both_part .right_part .right_part_top {
        width: 104px;
        background: #fcfcfc;
        border: 1px solid #edf1f2; }
        .viagra .both_part .right_part .right_part_top .prices {
          font-size: 11px;
          margin-left: 8px; }
        .viagra .both_part .right_part .right_part_top .prices_USD {
          font-size: 13px;
          margin-left: 8px; }
      .viagra .both_part .right_part .right_part_bot {
        margin-top: 6px; }
        .viagra .both_part .right_part .right_part_bot .offer {
          font-size: 11px;
          background-color: #ff642b;
          color: #fff;
          padding: 0px 6px 0px 7px;
          margin-left: 2px; }
        .viagra .both_part .right_part .right_part_bot .usd {
          font-size: 20px;
          color: #ff642b;
          margin-left: 3px; }
        .viagra .both_part .right_part .right_part_bot .pill {
          float: right;
          display: block;
          font-size: 11px;
          font-weight: normal;
          padding-right: 17px; }
  .viagra .pack {
    display: block;
    background-color: #ff642b;
    color: #fff;
    font-size: 13px;
    border-radius: 3px;
    font-family: Open Sans;
    margin-left: 6px;
    margin-right: 6px; }
    .viagra .pack a {
      display: block;
      color: #fff;
      text-decoration: none;
      padding: 7px 0px 7px 71px; }
    .viagra .pack i {
      margin-right: 7px; }

a {
  text-decoration: none; }

.wrapper {
  width: 968px;
  margin: 0 auto; }

.header_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4px;
  margin-bottom: 9px;
  font-family: Open Sans;
  font-size: 12px;
  padding-bottom: 6px;
  border-bottom: 1px solid #d0e7e6; }
  .header_top span a {
    color: #3cc9b0;
    font-weight: 700; }
  .header_top select {
    font-family: Open Sans;
    font-size: 12px;
    border: none; }

.cart {
  color: #35403e;
  font-size: 13px; }

.eur {
  font-size: 13px;
  color: #3cc9b0;
  font-weight: 700; }

.item {
  font-size: 13px;
  color: #858c8b; }

.chekout {
  background-color: #ff642b;
  border-radius: 2px;
  font-family: Open Sans;
  font-size: 13px; }
  .chekout a {
    color: #fff;
    padding: 8px 45px;
    display: block; }

.header_middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 9px;
  border-bottom: 1px solid #d0e7e6; }

.logo img,
.logo a {
  display: block; }

.baner_full {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #555;
  width: 700px;
  height: 61px; }

.divider {
  display: inline-block;
  width: 1px;
  height: 46px;
  background-color: rgba(255, 255, 255, 0.3); }

.baner_left {
  position: relative; }

.bigletter {
  color: #fff;
  font-family: Open Sans Extrabold;
  font-size: 19px;
  font-style: italic;
  line-height: 16px; }

.small {
  color: #ffc412;
  font-family: "Open Sans";
  font-size: 11px;
  line-height: 16px; }

.image_relative {
  position: relative; }

.baner_left_image {
  position: absolute;
  left: 120px; }

.baner_center {
  position: relative; }

.middle {
  font-weight: 700; }

.baner_center_image {
  position: absolute;
  left: 115px; }

.peregorodka2 {
  display: inline-block;
  float: right;
  width: 1px;
  height: 46px;
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.3); }

.baner_right {
  display: inline-block; }
  .baner_right .small {
    line-height: 13px; }

.baner_right_text {
  display: inline-block;
  margin-left: 6px; }

.smallest {
  font-style: italic;
  font-size: 13px;
  vertical-align: 12px; }

.procents {
  font-family: "Open Sans Extrabold";
  font-size: 28px;
  font-style: italic;
  display: inline-block;
  padding-top: 5px; }

.header_bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 7px;
  margin-bottom: 7px; }
  .header_bottom span {
    color: #555959;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 700;
    font-style: italic;
    vertical-align: 6px; }

.star img {
  margin-bottom: 3px; }

header {
  background: linear-gradient(to top, #ebfaf8 0%, #fcfcfc 100%);
  box-shadow: inset 0 -1px 0 #d0e7e6; }

.main-menu {
  width: 968px;
  height: 46px;
  background-color: #3cc9b0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  font-size: 14px;
  font-family: Open Sans;
  font-weight: 700; }
  .main-menu span .fa-inverse {
    color: #3cc9b0; }
  .main-menu a {
    text-decoration: none;
    color: #fff; }

li .fa-lg {
  font-size: 15px; }

.Phone-li span {
  float: left; }

.strings {
  float: right; }

.Phone-first-string {
  font-size: 10px;
  font-weight: 700; }

.Phone-second-string {
  font-size: 20px;
  clear: left;
  font-weight: 700; }

.search {
  display: flex;
  justify-content: space-between;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
  color: #182422;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 700;
  line-height: 21px;
  margin-top: 15px;
  margin-bottom: 10px; }
  .search input {
    display: block;
    color: #666;
    font-size: 12px;
    width: 202px;
    height: 30px;
    border: 1px solid #ffc412;
    padding: 0; }

.by_keyword {
  display: inline-block;
  position: relative; }

.ellipse {
  position: absolute;
  right: 5px;
  top: 27px; }

.by_name {
  display: inline-block; }

.list_by_name {
  width: 490px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px; }
  .list_by_name li a {
    color: #ff642b;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 700;
    text-decoration: underline; }

ul.list_by_name li:hover a {
  color: #3cc9b0;
  text-decoration: none; }

.coupone {
  display: inline-block; }
  .coupone span {
    color: #666;
    font-size: 12px;
    font-weight: 400; }

.discount {
  width: 242px;
  height: 31px;
  background-color: #ffc412;
  color: black;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  margin-top: 5px; }

.left-colum {
  float: left;
  width: 204px;
  display: inline-block; }
  .left-colum span {
    display: block;
    font-family: Open Sans;
    font-size: 12px; }
  .left-colum .Question {
    color: #3cc9b0;
    font-weight: bold;
    margin-top: 20px; }
  .left-colum .Answer {
    color: #858c8b; }

.FAQ {
  display: inline-block;
  margin-top: 15px;
  color: #3cc9b0;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 700;
  text-decoration: underline; }

.left-colum_all {
  background-color: #fcfcfc;
  border: 1px solid #edf1f2; }
  .left-colum_all ul li:first-child {
    margin-top: 18px; }
  .left-colum_all ul li:hover a {
    text-decoration: underline; }
  .left-colum_all ul li {
    margin: 0px 0px 13px 16px;
    font-size: 13px;
    font-family: Open Sans; }
    .left-colum_all ul li i {
      color: #80d3c9;
      font-size: 13px;
      margin-right: 10px; }
    .left-colum_all ul li a {
      text-decoration: none;
      color: #000; }

.categories,
.trial,
.edpacks,
.herbals {
  background-color: #3cc9b0;
  display: block;
  width: 192px;
  margin: 0px 0px 0px 5px;
  font-size: 13px;
  font-family: Open Sans;
  font-weight: bold;
  text-align: center;
  padding: 9px 0 9px 0;
  margin-bottom: 1px;
  color: #fff;
  text-decoration: none; }

.categories {
  background-color: #edf1f2;
  color: #000;
  margin-top: 5px; }

.herbals {
  margin-bottom: 4px; }

.catalog {
  width: 748px;
  float: right; }

.drugs_catalog li {
  margin: 0px 9px 10px 0px; }
.drugs_catalog li:nth-child(3),
.drugs_catalog li:nth-child(8),
.drugs_catalog li:nth-child(11) {
  margin: 0 0 10px 0; }

.discontpack {
  height: 400px;
  float: right; }

.baners {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fcfcfc;
  border: 1px solid #edf1f2;
  padding: 13px 86px 9px 78px; }

.awards {
  display: inline-block;
  margin-top: 15px;
  font-size: 13px;
  font-weight: 700;
  color: #33414e;
  font-family: Open Sans; }
  .awards span {
    font-size: 12px;
    font-weight: 400; }

.footer_top {
  margin-top: 10px;
  padding: 21px 0 15px 0;
  width: 968px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #edf1f2;
  border-bottom: 1px solid #edf1f2; }
  .footer_top li a {
    display: block; }
    .footer_top li a img {
      display: block; }

.footer_center {
  width: 712px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 17px 0 0 128px; }
  .footer_center li {
    color: #33414e;
    font-family: "Open Sans";
    font-size: 13px;
    display: block; }
    .footer_center li img {
      display: block; }

.footer_bottom {
  margin-top: 17px;
  border-top: 1px solid #edf1f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 19px;
  padding-bottom: 15px; }

.logo_copy p {
  color: #35403e;
  font-family: "Open Sans";
  font-size: 12px;
  margin-left: 31px; }

.footer_bottom_list {
  display: flex; }
  .footer_bottom_list li {
    font-family: "Open Sans";
    font-size: 12px;
    padding: 0 10px;
    border-right: 1px solid #858c8b; }
    .footer_bottom_list li a {
      color: #35403e; }
  .footer_bottom_list li:last-child {
    border: none; }

/*# sourceMappingURL=Catalog_Medicine.css.map */
